html {
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #4b79a1, #283e51);
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Roboto', sans-serif;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
