.Repos {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1300px) {
  .Repos {
    margin: 0 auto;
    width: 75%;
  }
}
